body{
    margin:0;
    background-color:#F2F2F2;
    
}



























.fundoBranco{
position: relative;
background-color: #FFFFFF;
width: 60em;
left: 30em; 
height: 85em;
}

/* parte baixa */   

.RetanguloLaranja{
position: absolute;
background-color: #FC4C02;
width: 60em;
height: 5em;
top: 75em;
left: 30em;

}
.logoAss{
position: relative;
left:24em;
top:1em;
}
.txtcopy{
position: absolute;
top:80em;
left:50em;
color: #878A8B;
}
.logoNBA,.whhGrande{
position: relative;
top:-33em;
left: 37em;
}
.whhGrande{
left:40em;
}
.top{
position: absolute;
background-image: linear-gradient( to right, #E9492A 35%, #E83A3C 50% ,#E83344 ,#E72555 ,#E72357);
width: 60em;
left: 30em;
height: 10em;
top:1.5em;
}

.whhTexto,.peticao{
font-size: 130%;
top:51em;
position: absolute;
font-family: sans-serif;
}
.whhTexto{
left: 48.4em;
}
.peticao{
left: 28.5em;
}
.retangoloPequeno ,.retanguloPequeno2,.retanguloPequeno3{
position: absolute;
width: 9em;
height: .3em;
top:73em;
left:37em;
background-image: linear-gradient( to right, #76C6CF 35%, #72B8CC 50% ,#6FA8C7 ,#6B99C2 ,#6A8CBC,#6A87BA,#677BB4,#6875B1,#686AAC);
}
.retanguloPequeno2{
left:63em;
background-image: linear-gradient( to right, #41B695 35%, #64BFB5 50% ,#55BBA7 ,#4AB89D ,#41B695);
}

.fonte,.fonte2, .fonte3{
font-size: 60%;
position: absolute;
top: -3.4em;
font-style: italic;
color:#CECECE;
}
/*parte de cima*/
.NRFvision{
position: absolute;
top:14em;
left: 37em;
}
.mulherNuvem{
    position: absolute;
    top:3.6em;
    left: 32em;
}

.ftoEvento{
position: absolute;
top:27em;
position: absolute;
font-family: sans-serif;
left:24.5em;

}
.txtEvento{
position: absolute;
top:43em;
left:37em;

}
.fonte3{
top:58em;
left: 46em;
font-size: 80%;
}
.retanguloPequeno3{
    top: 48.5em;
    left: 37em;
    width: 17em;
    background-image: linear-gradient(#E3285B,#D03C64,#BD4678,#AF4C80,#885795,#75599E);
}
.circulo{
    position: absolute;
    position: absolute;
    top: 3em;
    left: 26em;
}
.logoMaiorTop{
    position: absolute;
    top: 4.5em;
    left: 34em;
}
.bolas{
    position: absolute;
    top:9.4em;
    left: 46em;
}
.setas{
    position: absolute;
    top:3em;
    left:62em;
}
.zigzag{
    position: absolute;
    top:10em;
    left:83em;
}
.triagle{
    position: absolute;
    top:3.5em;
    left:87.2em;
}
.NRF2020{
    position: absolute;
    top:5em;
    left:79em;
}

